*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    background-color:black;
    overflow-x: hidden;
    padding: 15rem;
    
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 1rem solid;
    color: #fff;
}

.head span{
    color: blue;
}

.skills .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.skills .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
    color: #fff;
}

.skills .row .info h3{
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
    color: #fff;
}

.skills .row .info h3 span{
    color: blue;
    padding: 0 1rem;
}

.skills .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.skills .row .counter .box span{
    font-size: 4rem;
    color: blue;
}


.skills .row .counter .box h3{
    font-size: 2rem;
    color:#fff;

}